@mixin atSmall {
  @media (min-width: 530px) {
    @content;
  }
}

@mixin atSmallMedium {
  @media (min-width: 767px) {
    @content;
  }
}

@mixin atMedium {
  @media (min-width: 960px) {
    @content;
  }
}

// body {
//   opacity: 0;
//   transition: opacity .5s;
// }

// body.fade-in {
//   opacity: 1;
// } 

// body.fade-out {
//   opacity: 0;
// } 

body {
  animation: fadein 500ms;
  // animation: zoomin 2s;
  // animation: slidein 2s;
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

@keyframes zoomin {
  from { 
      opacity: 0; 
      transform: scale(0.1);
  }
  to   { 
      opacity: 1; 
      transform: scale(1);
  }
}

@keyframes slidein {
  from { 
      opacity: 0; 
      transform: translateX(-100%);
  }
  to   { 
      opacity: 1; 
      transform: translateX(0);
  }
}


body {
  color: #333;
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
  position: relative;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  color: $mainBlue;
}

a:hover {
  text-decoration: none;
}

p,
ul,
ol {
  margin: 0 0 1.65em 0;
}

p,
li {
  line-height: 1.65;
}
