<!-- wp:fictional-blocks/header /-->

<!-- wp:fictional-blocks/banner -->
<!-- wp:fictional-blocks/genericheading {"text":"Welcome"} -->
<h1 class="wp-block-fictional-blocks-genericheading headline headline--large">Welcome</h1>
<!-- /wp:fictional-blocks/genericheading -->

<!-- wp:fictional-blocks/genericbutton {"text":"Click here for programs","colorName":"orange"} -->
<a href="" class="wp-block-fictional-blocks-genericbutton btn btn--large btn--orange">Click here for programs</a>
<!-- /wp:fictional-blocks/genericbutton -->
<!-- /wp:fictional-blocks/banner -->

<!-- wp:fictional-blocks/slideshow -->
<!-- wp:fictional-blocks/slide { "themeimage":"bus.jpg"} -->
<!-- wp:fictional-blocks/genericheading {"text":"Slide 1","size":"small"} -->
<h3 class="wp-block-fictional-blocks-genericheading headline headline--small">Slide 1</h3>
<!-- /wp:fictional-blocks/genericheading -->
<!-- /wp:fictional-blocks/slide -->

<!-- wp:fictional-blocks/slide -->
<!-- wp:fictional-blocks/genericheading {"text":"Slide 2","size":"medium"} -->
<h2 class="wp-block-fictional-blocks-genericheading headline headline--medium">Slide 2</h2>
<!-- /wp:fictional-blocks/genericheading -->

<!-- wp:fictional-blocks/genericbutton {"text":"Click"} -->
<a href="" class="wp-block-fictional-blocks-genericbutton btn btn--large btn--blue">Click</a>
<!-- /wp:fictional-blocks/genericbutton -->
<!-- /wp:fictional-blocks/slide -->
<!-- /wp:fictional-blocks/slideshow -->

<!-- wp:fictional-blocks/eventsandblogs /-->

<!-- wp:fictional-blocks/banner -->
<!-- wp:fictional-blocks/genericheading {"text":"Banner 2","size":"medium"} -->
<h2 class="wp-block-fictional-blocks-genericheading headline headline--medium">Banner 2</h2>
<!-- /wp:fictional-blocks/genericheading -->

<!-- wp:fictional-blocks/genericbutton {"text":"Button"} -->
<a href="" class="wp-block-fictional-blocks-genericbutton btn btn--large btn--blue">Button</a>
<!-- /wp:fictional-blocks/genericbutton -->
<!-- /wp:fictional-blocks/banner -->

<!-- wp:fictional-blocks/slideshow -->
<!-- wp:fictional-blocks/slide { "themeimage":"bread.jpg" } -->
<!-- wp:fictional-blocks/genericheading {"text":"Slide 1"} -->
<h1 class="wp-block-fictional-blocks-genericheading headline headline--large">Slide 1</h1>
<!-- /wp:fictional-blocks/genericheading -->

<!-- wp:fictional-blocks/genericbutton {"text":"Click Here","colorName":"dark-orange"} -->
<a href="" class="wp-block-fictional-blocks-genericbutton btn btn--large btn--dark-orange">Click Here</a>
<!-- /wp:fictional-blocks/genericbutton -->
<!-- /wp:fictional-blocks/slide -->

<!-- wp:fictional-blocks/slide {"themeimage":"ocean.jpg"} -->
<!-- wp:fictional-blocks/genericheading {"text":"Slide 2"} -->
<h1 class="wp-block-fictional-blocks-genericheading headline headline--large">Slide 2</h1>
<!-- /wp:fictional-blocks/genericheading -->

<!-- wp:fictional-blocks/genericbutton {"text":"Or Here"} -->
<a href="" class="wp-block-fictional-blocks-genericbutton btn btn--large btn--blue">Or Here</a>
<!-- /wp:fictional-blocks/genericbutton -->
<!-- /wp:fictional-blocks/slide -->
<!-- /wp:fictional-blocks/slideshow -->

<!-- wp:fictional-blocks/footer /-->